
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --primary-color:rgb(19, 22, 26);
    --del:#220102;
    --list:#134a3b;
}
body{
    background-color:var(--primary-color);
}
.box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
h1{
    border:1px solid;
    padding:10px 20px;
    margin:20px auto;
    width:max-content;
}
button{
    cursor:pointer;
}
#input{
    /* border:1px solid red;  */
    padding:12px 24px;
    margin:20px 100px ;
    background-color:#06101d;
    font-size:16px;
    border-radius:12px;
    border:0;
    outline:0;

}
.add{
    padding:10px;
    border-radius:40%;
    background-color:rgb(104, 3, 71);
    color:black;
    border:0;
    font-weight:600;
}
.add:hover{
    background-color:rgb(147, 43, 113);
}
ul{
    list-style-type:none;
    /* border:1px solid red; */
    margin:20px auto;
    width:500px;
    display:flex;
    flex-direction: column;
    align-items:center;
}
ul li{
    border:1px solid;
    width:80%;
    font-size:1.4em;
    text-transform:capitalize;
    margin:6px 0;
    padding:12px 10px;
}
ul li{
    display:flex;
    justify-content:space-around;
    gap:15rem;
    overflow:hidden;
    background-color:var(--list);
}

.del{
    background-color:var(--del);
    padding:10px;
    border-radius:12px;
    border:0;
}
.del:hover{
    background-color:#561e1fcc ;
}
.remove{
    background-color:red;
}