* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.parent {
    /* border:1px solid red; */
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: rgb(31, 35, 1);
    display: flex;
    align-items: center;
}

.circle {
    width: 500px;
    height: 500px;
    background: #6ba6da;
    position: absolute;
    border-radius: 50%;
    right: -250px;
    top: -250px;
    z-index: 1;
}

.main {
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.main button {
    background-color: black;
    color: #6ba6da;
    padding: 10px;
    border-radius: 10px;
}

.middle {
    /* border:1px solid red; */
    margin-left: 30px;
}

.middle span {
    font-size: 100px;
    color: #6ba6da
}

input {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    outline: 0;
}

#login {
    padding: 4px 15px;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #6ba6da;
    font-weight: 700;
    border: 0;
}

/* responsive  */
@media screen and (max-width:768px) {
    .parent {
        background-color: rgb(96, 63, 63);
    }

    .circle {
        width: 200px;
        height: 200px;
        background: #021220;
        position: absolute;
        border-radius: 50%;
        right: -100px;
        top: -100px;
        z-index: 1;
    }

    .main {
        padding: 0 15px;
        top: 60px;
    }

    .main h1 {
        font-size: 1.4em;
    }

    .main button {
        background-color: black;
        color: #6ba6da;
        padding: 5px;
        border-radius: 10px;
        font-size: 1em;
    }
    .middle {
        /* border:1px solid red; */
        margin:0 auto;
    }
    .middle input{
        background-color:#021220;
    }
    .middle span{
        color:rgb(16, 15, 54);
    }
    #login{
        background-color:#021220;
    }
}