* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:cursive; */
}
:root {
    --back: #162c3e;
}

body {
    background-color: rgb(31, 35, 1);
}

h1 {
    background-color: var(--back);
    padding: 10px 50px;
}

.inputs {
    /* border:1px solid; */
    width: 95%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px var(--back);
    background-color: var(--back);
}

.inputs input,
select {
    width: 30%;
    padding: 12px;
    background-color: black;
    border: 0;
    outline: 0;
    border-radius: 10px;
}

.inputs input::placeholder {
    color: white;
}

.inputs button {
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background-color: black;
    font-weight: 800;
}

.inputs button:hover {
    background-color: #222;
}

.cards {
    /* border: 1px solid; */
    width: 95%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px var(--back);
    background-color: var(--back);
}

.card {
    background-color: black;
    width: 150px;
    height: 100px;
    text-align: center;
    padding: 10px;
}

.card p {
    font-size: 20px;
}

.rupee {
    color: gold;
    font-size: 1.5em;
}

table {
    /* border: 1px solid; */
    width: 95%;
    margin: 30px auto;
    padding: 30px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px var(--back);
    border-collapse: collapse;
}

th {
    background-color: var(--back);
    padding: 15px;
    border: 1px solid;
}

td {
    background-color: black;
    border: 1px solid;
    padding: 10px;
}

td button {
    background-color: rgb(224, 22, 22);
    border: 0;
    padding: 4px 8px;
    border-radius: 10px;
}

td button:hover {
    background-color: rgb(131, 21, 21);
}

/* responsive code  */
@media screen and (max-width:768px) {
    body {
        background-color: rgb(20, 36, 35);
    }

    :root {
        --back: #506e41;
    }

    h1 {
        background-color: var(--back);
    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 2px var(--back);
        gap: 10px;
    }

    .inputs input,
    select {
        width: 90%;
        background-color: rgb(20, 36, 35);
    }

    .inputs button {
        width: 90%;
        border-radius: 10px;
        font-size: 25px;
        background-color: rgb(20, 36, 35);
    }

    .inputs button:hover {
        background-color: rgb(44, 84, 82);
    }

    .cards {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .card {
        background-color: rgb(20, 36, 35);
        width: 140px;
        height: 140px;
        text-align: center;
        padding: 10px;
    }

    .card p {
        font-size: 18px;
    }

    .rupee {
        color: rgb(113, 96, 0);
        font-weight: 700;
    }
    th {
        background-color: var(--back);
        padding:8px;
        text-align:center;
    }
    td {
        background-color:rgb(20, 36, 35);
        text-align:center;
    }
}