*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1{
    margin:10px 30px;
    text-transform: capitalize;
}
textarea{
    border:1px solid red;
    width:400px;
    height:200px;
    margin:10px 30px;
    padding:20px;
    border:0;
    resize: none;
}
.box{
    border:1px solid red;
    width:400px;
    margin:10px 30px;
    padding:10px;
    display:flex;
    gap:30px;
}
select{
    flex:1
}