* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 45px;
  background: linear-gradient(
    rgb(185, 89, 89),
    rgb(184, 168, 78),
    rgb(81, 81, 158)
  );
  color: transparent;
  background-clip: text;
}
.container {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}
#prev,
#next {
  width: 40px;
  margin: 20px;
}
.gallery {
  /* border: 4px solid red; */
  width: 900px;
  height: fit-content;
  display: flex;
  overflow-x: scroll;
}
.gallery::-webkit-scrollbar {
  display: none;
}
.images-set {
  /* border: 4px solid red; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  gap: 20px;
  flex: none;
}
.images-set img {
  width: 100%;
  height: 300px;
  filter: grayscale(100%);
  transition: transform 0.5s;
  object-fit: cover;
}
.images-set img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

@media only screen and (min-width: 1200px) {
  .gallery {
    /* border: 4px solid red; */
    height: 400px;
    display: flex;
    overflow-x: scroll;
  }
}
