*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body{
    width:100%;
    height:100vh;
    font-family:arial;
    background-color: black;
    display:flex;
    justify-content:center;
    align-items: center;
}
.container{
    position: relative;
}
form{
    display:flex;
    flex-direction:column;
    padding:50px;
    width:320px;
    height:400px;
    background-color: rgb(24, 23, 23);
    gap:20px;
    border-radius:5px;
    backdrop-filter:blur(30px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
h3{
    font-size:35px;
    text-align: center;
}
label{
    font-size:17px;
}
::placeholder{
    color:white;
}
input{
    padding:10px;
    border:none;
    font-size: 15px;
    background-color:rgba(255,255,255,0.07);
    margin-top:-20px;
}
.social{
    display:flex;
    gap:30px;
}
.google{
    font-weight: 600;
    padding:8px 25px;
    background-color: red;
    border:none;
}
.facebook{
    font-weight: 600;
    border:none;
    background-color: blue;
    padding:8px 25px;
}
.but{
    padding:10px;
    font-size:17px;
    border-radius: 5px;
    font-weight: 600;
}
.shape{
    width:100px;
    height:100px;
    border-radius: 50%;
}
.background>:nth-child(1){
    background:linear-gradient(#1845ad,#23a2f6);
    position:absolute;
    top:-50px;
    left:-50px;
}
.background>:nth-child(2){
    background:linear-gradient(to right,#ff512f,#f09819);
    position:absolute;
    bottom:-50px;
    right:-50px;
}

@media (max-width:768px){
.background>:nth-child(1){
    position:absolute;
    top:-30px;
    left:-32px;
}
.background>:nth-child(2){
    position:absolute;
    bottom:-30px;
    right:-32px;
}
.shape{
    width:80px;
    height:80px;
}
}